header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 50px 50px 30px 50px;
    background-color: #E20188;
  }
  /* COMPONENTE HEADER */
  .logoHeader{
    width: 350px;
    height: auto;
  }
  
  .viewSelection {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
  
    width: 25%;
  }
  